[submodule "themes/raditian-free-hugo-theme"]
	path = themes/raditian-free-hugo-theme
	url = https://github.com/chewing-git/raditian-free-hugo-theme
[submodule "public"]
	path = public
	url = https://github.com/sul1074/sul1074.github.io
